@model WebApplication5.Models.Todos

@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "CreatePopUp")*@
    <button type="button" class="btn-block" style="width:200px;height:40px">Create Item</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("CreatePopUp","Todos")'></div>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('.btn-block').click(function ()
            {
                var url = $('#myModal').data('url');
                $.get(url, function (data)
                {
                    $("#myModal").html(data);
                    $("#myModal").modal('show');
                })
            })
        })
    </script>
</p>
<div id="tableDiv"></div>
<div id="toDoCreateForm">
    @using (Ajax.BeginForm("AjaxCreate", "Todos",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = "tableDiv"
                        }))
    {
        @*<div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>*@
    }
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/UserSripts/BuildTable.js"></script>
    }
    